/* .heading {
  color: blue;
  background-color: yellow;
}
body{
    background-color: pink;
}

button{
    background-color: blue;
    color: white;
} */
.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    background-color: aqua;
}

